@{
    ViewData["Title"] = "Simulations Queue";
}

@model List<Web.Models.Data.Entities.SingleSimulation>

<div class="row">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Created At</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var simulation in Model)
				{
					<tr>
						<th scope="row">
							<a asp-controller="Home" asp-action="Simulation" asp-route-id="@simulation.Id">
								@simulation.Id
							</a>
						</th>
						<td>@simulation.Created</td>
						<td>@simulation.Status</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
